services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    networks:
      - guardian

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "8000:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - guardian

networks:
  guardian:
    driver: bridge